<%- include('./Partials/Header.ejs') %>

    <section class="error-page">
        <img src="/Medias/404-error.svg" alt="error" class="svg">
        <h2>Página não encontrada...</h2>
        <a href="/">
            <button type="button" class="button">Home</button>
        </a>
    </section>

<%- include('./Partials/Footer.ejs') %>
