<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="title" content="Nash" />
        <meta name="description" content="Olá! Me chamo Henri, e sou estudante de Desenvolvimento de Sistemas. Adoro aprender novas tecnologias e habilidades da web." />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://github.com/henrilima/" />
        <meta property="og:title" content="Nash" />
        <meta property="og:description" content="Olá! Me chamo Henri, e sou estudante de Desenvolvimento de Sistemas. Adoro aprender novas tecnologias e habilidades da web." />
        <meta property="og:image" content="https://i.imgur.com/FEmf8bK.png" />
        <meta property="theme-color" content="#ebb113" />
        <link
            href="https://unpkg.com/aos@2.3.1/dist/aos.css"
            rel="stylesheet"
        />
        <link
            rel="icon"
            href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌎</text></svg>"
        />

        <link rel="stylesheet" href="style.css" />
        <title>Nash</title>
    </head>
    <body>
        <header data-aos="fade-up">
            <nav id="nav-display">
                <a href="/">Nash</a>
                <ul>
                    <li><a href="/#home">Início</a></li>
                    <li><a href="/#skills">Habilidades</a></li>
                    <li><a href="/#projects">Projetos</a></li>
                    <li><a href="/#aboutme">Sobre Mim</a></li>
                </ul>
            </nav>
            <div id="nav" data-aos="fade-up">
                <i id="icon" class="fa-solid fa-arrow-down"></i>
            </div>
        </header>
    </body>
</html>
